- hosts: all
  become: yes
  roles:
    - install-openjdk
    - install-maven
  tasks:
    - name: install required packages
      shell: |
        set -exo pipefail
        apt-get update
        apt-get install -y build-essential autoconf automake libtool cmake zlib1g-dev pkg-config libssl-dev libsasl2-dev
        git clone https://github.com/google/protobuf.git
        cd protobuf
        git checkout v3.6.1
        git submodule update --init --recursive
        ./autogen.sh
        ./configure
        make
        make check
        make install
        ldconfig
        protoc --version
        cd ..
        mkdir -p ~/.m2/repository/io/grpc/protoc-gen-grpc-java/1.15.1/
        cd ~/.m2/repository/io/grpc/protoc-gen-grpc-java/1.15.1/
        wget -r -nd -np -k -A 'protoc-*' http://home.apache.org/~aajisaka/repository/io/grpc/protoc-gen-grpc-java/1.15.1/
        cd '{{ ansible_user_dir }}'/'{{ zuul.project.src_dir }}'
        mvn package -Pdist -Pdoc -Psrc -Dtar -DskipTests -Dprotobuf.version=3.6.1 2>&1 | tee "{{ ansible_user_dir }}/workspace/logs/hadoop_build.log"
      args:
        executable: /bin/bash
        chdir: '{{ zuul.project.src_dir }}'
      environment: '{{ global_env }}'
