- hosts: all
  become: yes
  tasks:
    - name: Test hadoop
      shell: |
        set -xo pipefail
        apt-get update
        apt-get install -y build-essential autoconf automake libtool cmake zlib1g-dev pkg-config libssl-dev libsasl2-dev
        
        sudo sed -i 's#127.0.0.1#127.0.0.1 ubuntu #' /etc/hosts
        
        # Install Docker
        type docker || curl -sSL https://get.docker.com/ | sh -
        
        # Install patched protoc-2.5.0
        curl -Lo /opt/protoc-2.5.0-aarch64.tar.gz https://github.com/liusheng/liusheng.github.io/files/3429342/protoc-2.5.0-aarch64.tar.gz
        mkdir -p /opt/protoc-2.5.0-aarch64 && tar zxf /opt/protoc-2.5.0-aarch64.tar.gz -C /opt/protoc-2.5.0-aarch64/
        echo /opt/protoc-2.5.0-aarch64/lib/ > /etc/ld.so.conf.d/protoc-2.5.0-aarch64.conf
        ldconfig
        export PATH=/opt/protoc-2.5.0-aarch64/bin:$PATH
        protoc --version
        
        # Get protc-gen-grpc-java for arm
        mkdir -p ~/.m2/repository/io/grpc/protoc-gen-grpc-java/1.15.1/
        cd ~/.m2/repository/io/grpc/protoc-gen-grpc-java/1.15.1/
        wget -r -nd -np -k -A 'protoc-*' http://home.apache.org/~aajisaka/repository/io/grpc/protoc-gen-grpc-java/1.15.1/
        cd '{{ ansible_user_dir }}'/'{{ zuul.project.src_dir }}'/hadoop-yarn-project
        chmod -R 777 '{{ ansible_user_dir }}'/workspace/
        su zuul
        '{{ ansible_user_dir }}'/'{{ zuul.project.src_dir }}'/apache-maven-3.6.1/bin/mvn test -fn 2>&1 | tee '{{ ansible_user_dir }}'/workspace/logs/hadoop_test.log
        sleep 720000
      args:
        executable: /bin/bash
        chdir: '{{ zuul.project.src_dir }}'
      environment: '{{ global_env }}'
