- hosts: all
  become: yes
  roles:
    - install-openjdk
    - install-maven
  tasks:
    - name: install required packages and run tests
      shell: |
        set -ex
        apt-get update -y
        echo $PATH
        sed -i -e '/127.0.0.1/ s/\(localhost\)/'$(hostname)' \1/' /etc/hosts
        apt-get install -y build-essential autoconf automake libtool cmake zlib1g-dev pkg-config libssl-dev libsasl2-dev

        # mvn package -e -B -Pdist -Pdoc -Psrc -Dtar -DskipTests 2>&1 | tee "{{ ansible_user_dir }}/workspace/logs/hadoop_build.log"
        mvn package -e -B -Pdist -Dtar -DskipTests 2>&1 | tee "{{ ansible_user_dir }}/workspace/logs/hadoop_build.log"
        sleep 7200000
        cd hadoop-common-project && mvn test -B -e | tee "/home/zuul/workspace/logs/hadoop_common_project_test.log"
        mvn test -B -e | tee "{{ ansible_user_dir }}/workspace/logs/hadoop_test.log"
      args:
        executable: /bin/bash
        chdir: '{{ zuul.project.src_dir }}'
      environment: '{{ global_env }}'
