---
- hosts: all
  become: yes
  roles:
    - role: config-golang
      go_version: 1.12.6
      arch: arm64
    - role: install-docker-ce
      arch: arm64

  tasks:
    - name: build KIND against k/k master using bazel
      shell:
        cmd: |
          go get k8s.io/kubernetes
          go get k8s.io/kubeadm
          go get k8s.io/test-infra/kubetest
          mkdir -p $GOPATH/src/sigs.k8s.io/
          mv '{{ zuul.project.src_dir }}' $GOPATH/src/sigs.k8s.io/
          cd $GOPATH/src/sigs.k8s.io/kind && go mod download go.mod
          sed -i '/kind build node-image/i\    kind build base-image --image kindest/base:latest --source $GOPATH/src/sigs.k8s.io/kind/images/base' $GOPATH/src/sigs.k8s.io/kind/hack/ci/e2e.sh
          sed -i 's#kind build node-image#kind build node-image --base-image kindest/base:latest#' $GOPATH/src/sigs.k8s.io/kind/hack/ci/e2e.sh
          go install .
          cd $GOPATH/src/k8s.io/test-infra/kubetest && go install .
          cd $GOPATH/src/k8s.io/kubernetes && git checkout v1.14.3
          $GOPATH/src/sigs.k8s.io/kind/hack/ci/e2e.sh | tee -a $LOG_DIR/e2e.log
          cp -R $GOPATH/src/k8s.io/kubernetes/_artifacts/* $LOG_DIR
        executable: /bin/bash
      environment: '{{ global_env }}'
