- hosts: all
  tasks:
    - name: Install the necessary libraries via apt
      become: true
      shell: |
        apt update && \
        apt install -y build-essential \
        openjdk-8-jdk \
        python \
        zip \
        unzip \
        gcc \
        python3 \
        python3-dev \
        python3-pip \
        libhdf5-serial-dev \
        git \
        pkg-config \
        wget \
        sudo
      args:
        executable: /bin/bash

    - name: Install pip deps
      become: true
      shell: |
        pip3 install virtualenv
      args:
        executable: /bin/bash

    - name: Install pip deps
      shell: |
        pip3 install cython
        pip3 install numpy future keras_preprocessing mock
      args:
        executable: /bin/bash

    - name: Install bazel 0.26.1
      shell: |
        wget https://github.com/bazelbuild/bazel/releases/download/0.26.0/bazel-0.26.0-dist.zip
        mkdir bazel
        unzip bazel-0.26.0-dist.zip -d bazel
        cd bazel
        EXTRA_BAZEL_ARGS='--host_javabase=@local_jdk//:jdk' ./compile.sh
        sudo ln -s `pwd`/output/bazel /usr/bin/bazel
      args:
        executable: /bin/bash

    - name: debug
      shell: |
        sleep 36000
      args:
        executable: /bin/bash

    - name: Build TF 2.0
      shell: |
        set -xe
        virtualenv --python=python3.6 ~/.env/tensorflow/
        source ~/.env/tensorflow/bin/activate
        cd
        wget https://github.com/tensorflow/tensorflow/archive/v2.0.0.tar.gz
        tar -xvf v2.0.0.tar.gz
        cd tensorflow-2.0.0
        cat << EOF > input

        n
        n
        n
        n
        n
        n

        n

        EOF
        ./configure < ./input
        pip3 install numpy keras_preprocessing
        bazel clean --expunge
        bazel build --config=opt //tensorflow/tools/pip_package:build_pip_package --local_ram_resources=2048 --local_cpu_resources=2
        mkdir tensorflow-pkg
        bazel-bin/tensorflow/tools/pip_package/build_pip_package ./tensorflow-pkg
      args:
        executable: /bin/bash

    - name: Verify TF 2.0 python package
      shell: |
        set -xe
        cd /home/zuul/tensorflow-2.0.0/tensorflow-pkg
        pip3 install tensorflow-*.whl
        python3 -c "import tensorflow as tf; print(tf.__version__)"
      args:
        executable: /bin/bash
