- hosts: all
  become: yes
  tasks:
    - name:
      shell: |
        set -ex
        result_dir="{{ ansible_user_dir }}/workspace/test_results/"
        mkdir -p "$result_dir"
        type docker || curl -sSL https://get.docker.com/ | sh -

        # dockerfile: https://github.com/liusheng/my-dockerfile/tree/master/kudu-aarch64
        # create containers fistly
        docker create -v $result_dir:/opt/results/ --name kudu-lint liusheng2048/kudu-aarch64:nobuild lint
        docker create -v $result_dir:/opt/results/ --name kudu-iwyu liusheng2048/kudu-aarch64:nobuild iwyu
        docker create -v $result_dir:/opt/results/ --name kudu-debug liusheng2048/kudu-aarch64:nobuild debug
        docker create -v $result_dir:/opt/results/ --name kudu-release liusheng2048/kudu-aarch64:nobuild release
        docker create -v $result_dir:/opt/results/ --cap-add=SYS_PTRACE --security-opt seccomp=unconfined --name kudu-asan liusheng2048/kudu-aarch64:nobuild asan
        docker create -v $result_dir:/opt/results/ --cap-add=SYS_PTRACE --security-opt seccomp=unconfined --name kudu-tsan liusheng2048/kudu-aarch64:nobuild tsan

        docker cp "{{ ansible_user_dir }}/{{ zuul.project.src_dir }}" kudu-lint:/opt/
        docker cp "{{ ansible_user_dir }}/{{ zuul.project.src_dir }}" kudu-iwyu:/opt/
        docker cp "{{ ansible_user_dir }}/{{ zuul.project.src_dir }}" kudu-debug:/opt/
        docker cp "{{ ansible_user_dir }}/{{ zuul.project.src_dir }}" kudu-release:/opt/
        docker cp "{{ ansible_user_dir }}/{{ zuul.project.src_dir }}" kudu-asan:/opt/
        docker cp "{{ ansible_user_dir }}/{{ zuul.project.src_dir }}" kudu-tsan:/opt/

        docker start kudu-lint
        docker start kudu-iwyu
        docker start kudu-debug
        docker start kudu-release
        docker start kudu-asan
        docker start kudu-tsan
        while :
        do
            [[ -z "$(docker ps -f name=kudu -q)" ]] && break
            echo "Waiting for Kudu testing complate..."
            sleep 5
        done
      args:
        executable: /bin/bash
