- hosts: all
  become: yes
  tasks:
    - name: Run building and testing for Kudu
      shell: |
        set -ex
        DEBIAN_FRONTEND=noninteractive apt-get -q install -y --no-install-recommends \
            libsasl2-dev libsasl2-modules libsasl2-modules-gssapi-mit libssl-dev libtool \
            lsb-release ntp openssl krb5-admin-server krb5-kdc krb5-user libkrb5-dev doxygen \
            gem graphviz ruby-dev xsltproc zlib1g-dev openjdk-8-jdk patch pkg-config python \
            python-dev python3 python3-dev python3-pip virtualenv rsync unzip vim-common \
            make cmake g++ autoconf automake curl flex gdb git lsof
        export JAVA_HOME=/usr/lib/jvm/java-8-openjdk-arm64
        export JAVA8_HOME=/usr/lib/jvm/java-8-openjdk-arm64
        ln -s /usr/include/locale.h /usr/include/xlocale.h

        BUILD_TYPE="{{ build_type }}" KUDU_ALLOW_SLOW_TESTS=0 bash -x build-support/jenkins/build-and-test.sh
        mkdir -p '{{ ansible_user_dir }}/workspace/test_results'
        cp -r build/$(echo "{{ build_type }}" | tr 'A-Z' 'a-z)/test-logs '{{ ansible_user_dir }}/workspace/test_results/'
      args:
        executable: /bin/bash
        chdir: '{{ zuul.project.src_dir }}'
